body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather',serif;
}

h1{
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacamentro', cursive;
  color:#66BFBF;


}
p{
  font-size: 1.2rem;
  font-family: 'Sacamentro', cursive;
  
   
  
}
h2{
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #66BFBF;
  font-weight: normal;
  
}
h3{
  color:#11999E;
  font-family: "Montserrat",sans-serif;
  font-size: 2.5rem;
}
.top-container{
  background-color: #CEE5D0;
  position: relative;
  padding-top: 100px;

}
.middle-container{
  background-color:#CEE5D0 ;

}
.bottom-container{
  background-color: #66BFBF;
  padding-bottom: 100px;

}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
  
  
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
  
}
.images{
  width: 200px;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  line-height: 2;
  
  
}
.contact-me{
  border-radius: 8px;
  
  
}

 
  

  




   
